<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>Productos</h1>
  <table>
    <tr>
      <th>Producto</th>
      <th>Fabricante</th>
      <th>Categoria</th>
      <th>Acciones</th>
      <th>Eliminar</th>
    </tr>
    <% productos.forEach(productos => { %>
      <tr>
        <td><%= productos.id %></td>
        <td><%= productos.nombre %></td>
        <td><%= productos.correo %></td>
        <td>
          <a href="/editar/<%= productos.id %>">Editar</a>
          <a href="/eliminar/<%= productos.id %>">Eliminar</a>
        </td>
      </tr>
    <% }) %>
  </table>
  <a href="/agregar">Agregar usuario</a>
</body>
</html>
