<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Usuarios</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>Usuarios</h1>
  <table>
    <tr>
      <th>Producto</th>
      <th>Fabricante</th>
      <th>Categoria</th>
      <th>Acciones</th>
      <th>Eliminar</th>
    </tr>
    <% usuarios.forEach(usuario => { %>
      <tr>
        <td><%= usuario.id %></td>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.correo %></td>
        <td>
          <a href="/editar/<%= usuario.id %>">Editar</a>
          <a href="/eliminar/<%= usuario.id %>">Eliminar</a>
        </td>
      </tr>
    <% }) %>
  </table>
  <a href="/agregar">Agregar usuario</a>
</body>
</html>
