<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>productos</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>Productos</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
    <% productos.forEach(producto => { %>
      <tr>
        <td><%= producto.id %></td>
        <td><%= producto.Nombre %></td>
        <td><%= producto.Precio %></td>
        <td><%= producto.Stock %></td>
        <td>
          <a href="/editarproductos/<%= producto.id %>">Editar</a>
          <a href="/eliminarproductos/<%= producto.id %>">Eliminar</a>
        </td>
      </tr>
    <% }) %>
  </table>
  <br>
  <a href="/agregarproducto">Agregar Producto</a>
  <br><br><br>
  <a href="/">HOME</a>
</body>
</html>
