<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>productos</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>productos</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
    <% productos.forEach(producto => { %>
      <tr>
        <td><%= producto.id %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.precio %></td>
        <td><%= producto.stock %></td>
        <td>
          <a href="/editar/<%= producto.id %>">Editar</a>
          <a href="/eliminar/<%= producto.id %>">Eliminar</a>
        </td>
      </tr>
    <% }) %>
  </table>
  <a href="/agregar">Agregar usuario</a>
</body>
</html>
